.filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.year-buttons button,
.month-buttons button {
  background-color: var(--accent);
  color: var(--text);
  border: none;
  padding: var(--padding-standard);
  margin: 0 0.2rem;
  border-radius: var(--border-radius-standard);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.year-buttons button.active,
.month-buttons button.active {
  background-color: var(--primary);
}

.year-buttons button:hover,
.month-buttons button:hover {
  background-color: var(--primary);
}

.current-filter {
  font-size: 1.2rem;
  color: var(--text);
}

.month-select {
  background-color: var(--accent);
  color: var(--text);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius-standard);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.month-select:hover {
  background-color: var(--primary);
  color: var(--bg-color);
}
