.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border: 1px solid var(--accent);
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  color: var(--text);
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#confirm-delete-modal .modal-content,
#confirm-delete-debt-modal .modal-content,
#confirm-delete-account-modal .modal-content {
  padding: 20px;
  text-align: center;
}

#confirm-delete-modal button,
#confirm-delete-debt-modal button,
#confirm-delete-account-modal button {
  background-color: var(--accent);
  color: var(--text);
  border: none;
  padding: var(--padding-standard);
  margin: 0.5rem;
  border-radius: var(--border-radius-standard);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#confirm-delete-modal #confirm-delete-btn,
#confirm-delete-debt-modal #confirm-delete-debt-btn,
#confirm-delete-account-modal #confirm-delete-account-btn {
  background-color: var(--danger);
}

#confirm-delete-modal #cancel-delete-btn,
#confirm-delete-debt-modal #cancel-delete-debt-btn,
#confirm-delete-account-modal #cancel-delete-account-btn {
  background-color: var(--primary);
}

#confirm-delete-modal button:hover,
#confirm-delete-debt-modal button:hover,
#confirm-delete-account-modal button:hover {
  opacity: 0.8;
}

#debt-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#debt-modal .modal-content,
#account-modal .modal-content {
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  border: 1px solid var(--accent);
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  color: var(--text);
}

#debt-modal label,
#account-modal label {
  display: flex;
  flex-direction: column;
  color: var(--text);
}

#debt-modal input[type="text"],
#debt-modal input[type="number"],
#debt-modal input[type="date"],
#account-modal input[type="text"],
#account-modal input[type="number"] {
  margin-top: 0.25rem;
  padding: 0.5rem;
  background: var(--accent);
  border: 1px solid var(--primary);
  color: var(--text);
  border-radius: 4px;
}

#debt-modal .close-btn,
#account-modal .close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#debt-modal .close-btn:hover,
#debt-modal .close-btn:focus,
#account-modal .close-btn:hover,
#account-modal .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#debt-modal .debt-form button {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: var(--padding-standard);
  border-radius: var(--border-radius-standard);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem 0;
  width: 100%;
}

#debt-modal .debt-form button:hover {
  background-color: var(--accent);
}
